@use "../utils/color.scss";
@use "../utils/animation.css";


.loader-container {
    position: fixed;
    background-color: white; /*rgba(255, 255, 255, 0.90);*/
    width: 100vw;
    height: 100vh;
    inset: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loader 500ms; 
    animation-delay: 2s;
    transition: opacity 1s ease-in-out;
    animation-fill-mode: both;
 
    
}

.dot {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 15px;
    animation: loader infinite 0.3s alternate;
    

    &.d1 {
        background-color: color.$purple;
      }
    
      &.d2 {
        background-color: color.$secondary;
        animation-delay: 0.25s;
      }
    
      &.d3 {
        background-color: color.$tertiaire;
        animation-delay: 0.5s;
      }

}


header {
    font-family:'Shrikhand', cursive;
    text-align: center;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    padding: 0.3rem;
    margin: 0;
    position: relative;

    .logomq {
        text-decoration: none;
        color: black;
    }
}
