@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.tuto {
  padding: 0 1rem;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.3rem;
  margin: 0;
  position: relative;
}
header .logomq {
  text-decoration: none;
  color: black;
}

.local {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #f3f3f3;
  text-align: center;
  padding: 0 1rem;
}
.local i {
  font-size: 1.5rem;
}

.hero {
  padding: 2rem;
  background-color: rgb(250, 250, 250);
  text-align: center;
}
.hero h2 {
  margin: 0;
  font-size: 2rem;
}
.hero p {
  font-size: 1rem;
  padding-bottom: 1rem;
}

button {
  margin-bottom: 2rem;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  background-color: #646858;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  transition: transform 200ms;
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
}
button a {
  text-decoration: none;
  color: white;
}
button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.tuto {
  counter-reset: steps;
  margin-top: 7rem;
}
.tuto ol {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
@media (max-width: 1000px) {
  .tuto ol {
    flex-direction: column;
  }
}
.tuto li {
  position: relative;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.tuto li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356DC;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translateY(-50%);
}
.tuto li:hover {
  transform: scale(1.02);
}
.tuto li i.fas {
  margin-right: 1rem;
  color: #7e7e7e;
  font-size: 1.5rem;
}

.restaurants {
  background-color: #f6f6f6;
}
.restaurants .container {
  padding: 2rem 1rem;
}
.restaurants .container h2 {
  /* margin-top: 2rem;*/
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}
@media (min-width: 64rem) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
.cards .news {
  position: relative;
}
.cards .news::before {
  content: "Nouveau";
  position: absolute;
  display: grid;
  place-items: center;
  height: 2rem;
  width: 5rem;
  border-radius: 0.2rem;
  background-color: #99E2D0;
  color: #32b091;
  right: 1rem;
  top: 1rem;
}

.card {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
}
.card img {
  height: 12rem;
  width: 100%;
  border: transparent solid 0px;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}
.card__footer {
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}
.card__content {
  flex: 1;
}
.card__title {
  margin: 0;
  margin-bottom: 0.25rem;
}
.card__subtitle {
  margin: 0;
}
.card__btn {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__like {
  background-color: white !important;
}

footer .container {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
footer h2 {
  color: white;
  font-family: "Shrikhand", "cursive";
  font-weight: 500;
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
footer .footlogo {
  text-decoration: none;
}
footer .footerlist {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .footlistElmt {
  margin: 0.5rem 0;
}
footer .footlink {
  color: white;
  text-decoration: none;
}
footer .footlink:hover {
  text-decoration: underline;
}
footer .footicon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

/*# sourceMappingURL=styles.css.map */
