@use "../utils/color.scss";
@use "../utils/zoom.scss";
@use "../utils/animation.scss";

.header {
    &__arrow {
      position: absolute;
      left: 2rem;
      height: 2rem;
      width: 2rem;
      top: 65%;
      display:flex;
      align-items:center;
      justify-content:center;
      transform: translateY(-50%);
      font-size: 1.2rem;
      color: black;
    
      &:hover::before {
        @include zoom.base-zoom;
        transform: translateX(-50%);
        zoom: level 1.2;
        color: color.$purple;
    }
      
  }
}

.headeresto {
  height: 75px;
}

.heroImg {
    max-width: 100%;
    max-height: 30vh;
    width: 100%;
    object-fit: cover;
}


.menu {
    margin-top: -5rem;
    border-radius: 3rem 3rem 0 0;
    background-color: #f6f6f6;
    z-index: 1;
    position: relative;
    padding: 0 1rem;
  
    &__header {
      padding: 1rem 2rem 0 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      
    }
  
    &__title {
      font-family: "Shrikhand", "cursive";
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  
}

  .submenus {
    display: grid;
  
    @media (min-width:64rem) {
      grid-template-columns: repeat(3,1fr);
      column-gap: 1rem;
    }
  }
  
  .submenu {
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;
  
    &__title {
      text-transform: uppercase;
      position: relative;
      padding-bottom: 0.5rem;
      font-weight: normal;
  
      &::after {
        content: "";
        width: 3rem;
        height: 0.25rem;
        background-color: color.$tertiaire;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }

 
  .menuItem {
    $numberItems:3;
    @for $i from 1 through $numberItems {
        &:nth-child(#{$i}) {
            animation-delay: 100ms * $i;
        }
    }
    background-color: white;
    display: flex;
    border-radius: 0.75rem;
    margin: 1rem 0;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    transition: transform 1s ease-in;
    animation: appear .9s;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;
    max-width: 100%;
  
 
  .menuItemBloc {
    padding: 1rem;
    overflow: hidden;
    
  }
  
  &__title {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 600;
    line-height: 1.8rem;
  }
  
  &__description {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    
  }

  &__price {
    font-weight: 600;
    margin: 0;
    margin-left: auto;
    padding: 1rem;
    display: flex;
    align-items: flex-end;
    
  }
   
  &__confirmation {
    display: grid;
    place-items: center;  
    flex-shrink: 0;
    background-color: color.$tertiaire;
    margin-right: -4rem;
    width: 4rem;
    border-radius: 0 0.75rem 0.75rem 0;
    transition-duration: 0.5s;
    
  }
  
 &:hover &__confirmation {
    margin-right: 0;
  }

  &__wrapIcon {
    height: 1.6rem;
    width: 1.6rem;
    background-color: white;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: 0.5s;

  }

  &:hover &__wrapIcon {
    transform: rotate(0);
  }

  &__icon {
    color: color.$tertiaire;
  }

  }
  
  .wrapBtn {
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 3rem 0;
   
  }
  
  .commandBtn {
    cursor: pointer;
  }